@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #84a9cc;
    text-decoration: none;
}

a:hover {
    color: black;
}

sup {
    font-size: xx-small;
    vertical-align: super;
    padding: 0 .15rem;
    background-color: #84a9cc;
    color: white;
    border-radius: 50%
}

#total-vehicles {
    font-weight: bold;
    font-size: .9em;
    margin: .5rem 0 .1rem .5rem;
}

#query {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* I like this icon - so what */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: .5rem;
    margin-left: .5rem;
}

#vehicles {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#vehicles tr, a {
    transition: all 0.2s ease-in-out;
}

#vehicles th {
    font-weight: bolder;
}

#vehicles th,
#vehicles td {
    text-align: left;
    padding: 6px;
}

#vehicles td:nth-child(4) { /* Capitalize the first letter */
    text-transform: capitalize;
}
#vehicles td:nth-child(5) span {
    font-size: 12px;
    font-weight: bold;
    color: #84a9cc;

}

#vehicles tr {
    border-bottom: 1px solid #ddd;
}

#vehicles th,
#vehicles tr:hover {
    background-color: #f1f1f1;
}

td:first-child {
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    background-color: #f1f1f1;
}

td:nth-child(2),
td:nth-child(3) {
    text-transform: capitalize;
}

td span.highlight {
    font-weight: bold;
    /* Invert colors */
    background-color: #84a9cc;
    color: white;
}

#vehicle-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: #84a9cc;
    padding: .5rem;
    border-radius: 5px;
}

#vehicle-info span {
    font-weight: bold;
}

#vehicle-info div { /* There's only one div inside so it's fine */
    height: 150px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: .5rem;
    /* Some type of placeholder image, while the actual image loads */
    background-image: url('https://via.placeholder.com/150?text=Loading...');
}

#vehicle-info div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}